@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,200&display=swap');
*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}
body{
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
  overflow-x: hidden;
}      
.icon a i{
    color: white;
}